.setBtn {
  color: var(--filter-text-color);
  font-size: 12px;
  line-height: 1.4;
  text-transform: uppercase;

  padding: 8px 36px 8px 12px;

  display: flex;
  align-items: center;
  cursor: pointer;
}

.down {
  fill: var(--filter-text-color);
  width: 10px;
  height: 5px;
  margin-left: 10px;
}
