.table {
  width: 100%;
}

.head {
  color: var(--header-text-color);
}
.date {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.iconSort {
  fill: var(--header-text-color);
  height: 12px;
  width: 6px;
}

.text {
  color: var(--header-text-color);
  font-size: 16px;
}

.iconSquare {
  fill: var(--header-text-color);
  width: 15px;
  height: 15px;
}

.results {
  font-family: Rubik-Bold;
  color: var(--dark-grey-bg-color);
  text-transform: uppercase;
  font-size: 14px;
  padding-top: 20px;
}
